<div class="item__cont">
  <div class="item__info-cont">
    <h2 class="item__header"><%= adv.shortText %></h2>
    <div class="item__images-cont">
      <% for (let i = 0; i < adv.images.length; i++) {
      %>
      <img src="<%= adv.images[i] %>" alt="Изображение <%= i+1 %>">
      <% }
      %>
    </div>
    <p class="item__desc"><%= adv.description %></p>
    <div class="item__date">
      Создано: 
      <% 
        const options = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        timezone: 'UTC',
        hour: 'numeric',
        minute: 'numeric'
      };
      dateCreated = (new Date(adv.createdAt)).toLocaleDateString("ru", options);
      %> <%= dateCreated %>
    </div>
    <div class="item__author">Автор: 
      <% const advUser = users.find(e => String(e._id) === String(adv.userId)) %>
      <%= advUser.name %>
    </div>
    <a class="item__more" href="<%= `/api/advertisements/${adv._id}` %>" title="<%= adv.shortText %>">Читать подробнее...</a>
    <% if (locals.user) { 
        if (String(adv.userId) === String(user._id)) {
    %>
          <div class="item__editCont">
            <button class="btnLink delBtn" data-id="<%= adv._id %>" type="button" title="Удалить объявление">Удалить</button>
          </div>
          <div class="delMessageCont"></div>
    <%  }
      }
    %>
  </div>
</div>


<%
/*
  Название	Тип	Обязательное	Уникальное
  shortText	string	да	нет
  description	string	нет	нет
  images	string[]	нет	нет
  userId	ObjectId	да	нет
  createdAt	Date	да	нет
  updatedAt	Date	да	нет
  tags	string[]	нет	нет
  isDeleted	boolean	да	нет
*/
%>
