<div class="item__cont">
  <div class="item__info-cont">
    <h2 class="item__header"><%= adv.shortText %></h2>
    <div class="item__images-cont">Картинко</div>
    <p class="item__desc"><%= adv.description %></p>
    <div class="item__date">
      Создано: 
      <% 
        const options = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        timezone: 'UTC',
        hour: 'numeric',
        minute: 'numeric'
      };
      dateCreated = (new Date(adv.createdAt)).toLocaleDateString("ru", options);
      %> <%= dateCreated %>
    </div>
    <div class="item__author">Автор: 
      <% const advUser = users.find(e => String(e._id) === String(adv.userId)) %>
      <%= advUser.name %>
    </div>
    <% if (locals.user) { 
        if (String(adv.userId) === String(user._id)) {
    %>
          <div class="item__editCont">
            <form method="DELETE" action="/api/advertisements/<%= adv._id %>">
              <button class="btnLink" type="submit" onclick="confirm('Точно надо удалить это объявление?');" title="Удалить объявление">Удалить</button>
            </form>
          </div>
    <%  }
      }
    %>
  </div>
</div>


<%
/*
  Название	Тип	Обязательное	Уникальное
  shortText	string	да	нет
  description	string	нет	нет
  images	string[]	нет	нет
  userId	ObjectId	да	нет
  createdAt	Date	да	нет
  updatedAt	Date	да	нет
  tags	string[]	нет	нет
  isDeleted	boolean	да	нет
*/
%>
