<%- include('../page/page_header.ejs', {title: title, adv: adv, users: users, messages: messages, user: user}) %>

<div class="pageCont">
  <main class="main">
    <h1><%= title %></h1>
    <div class="moreinfo-cont">
      <h2 class="item__header"><%= adv.shortText %></h2>
      <div class="item__images-cont">
        <% for (let i = 0; i < adv.images.length; i++) {
        %>
        <img src="<%= adv.images[i] %>" alt="Изображение <%= i+1 %>">
        <% }
        %>
      </div>
      <p class="item__desc"><%= adv.description %></p>
      <div class="item__date">
        Создано: 
        <% 
          const options = {
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
          timezone: 'UTC',
          hour: 'numeric',
          minute: 'numeric'
        };
        dateCreated = (new Date(adv.createdAt)).toLocaleDateString("ru", options);
        %> <%= dateCreated %>
      </div>

      <div class="item__author" data-autorid="<%= adv.userId %>"> 
        <% const advUser = users.find(e => (e._id).toString() == (adv.userId).toString()) %>
        <%= 'Автор: ' + advUser.name %>
        <%- '<br>Изменено: ' + (new Date(adv.updatedAt)).toLocaleDateString("ru", options) %>
        <%- adv.tags.length>0?'<br>Теги: ' + adv.tags.join(', '):'' %>
      </div>
      <% if (locals.user) { 
          if (String(adv.userId) === String(user._id)) {
      %>
            <div class="item__editCont">
              <button class="btnLink delBtn" data-id="<%= adv._id %>" type="button" title="Удалить объявление">Удалить</button>
            </div>
            <div class="delMessageCont"></div>
      <%  }
        }
      %>
    </div>
    <% if (Object.keys(user).length > 0) { 
    %>
      <div class="moreinfo-chatCont">
        <h2>История переписки</h2>
        <div class="commentsCont bordered">
          <div class="chatCont">
            <% if (messages.length > 0) { 
              for (let i = messages.length - 1; i >= 0; i--) {
            %>
              <%- include('./message.ejs', {advUser: advUser, message: messages[i], users: users, user: user}); %>
            <% } } else { %>
              Пока не было сообщений<br>
            <%  } %>
          </div>
          <div class="sendCont">
            <textarea class="usernameInp" name="usernameInp" placeholder="Введите текст" required></textarea>
            <button type="submit" class="btn msgSendBtn ">Отправить</button>
          </div>
        </div>
      </div>
    <%  }
    %>
  </main>
</div>

<%- include('../page/page_footer.ejs') %>