<%- include('../page/page_header.ejs', {title: title, user: user}) %>

<div class="pageCont">
  <main class="main">
    <h1><%= title %></h1>
    <div class="mainCont">
      <div class="table">
        <div class="table__row">
          <p class="bold">Имя: </p><p><%= user.name %></p>
        </div>
        <div class="table__row">
          <p class="bold">e-mail: </p><p><%= user.email %></p>
        </div>
        <div class="table__row">
          <p class="bold">Номер телефона: </p><p><%= user.contactPhone %></p>
        </div>
      </div>
    </div>
    <div class="center padding10 margin10">
      <a href="/api/logout" title="Выйти из кабинета">Выйти из кабинета</a>
    </div>
  </main>
</div>

<%- include('../page/page_footer.ejs') %>